@import './utils/vars';
@import './utils/hidden';
@import './utils/placeholders';
@import './utils/mixin';
@import './base/reset';
@import './base/common';
@import './base/container';
@import './base/section';
@import './components/btn';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/work';
@import './layouts/team';
@import './layouts/social-link';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/footer-subscribe';
@import './layouts/modal-window';
@import './layouts/portfolio';
