:root {
  --header-backgroud: #ffffff;
  --hero-background: #c4c4c4;
  --about-backgroud: #f5f5f5;
  --team-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --portfolio-backgroud: #ffffff;
  --title: #212121;
  --after-title: #757575;
  --header-link-hover: #2196f3;
  --footer-link-hover: #2196f3;
}
