.social {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @extend %align-list;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
  &__icon {
    display: block;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social__link:hover &,
    .social__link:focus & {
      fill: #ffffff;
    }
  }
}
